{# Карточка товара #}
<div class="with-b-border"> <!-- Данные для единицы товара -->
    <img class="img-thumbnail" src="{{ item.url }}">
    <p><strong>Описание:</strong> {{ item.description }}</p>
    <p><strong>Категория:</strong> {{ item.category }}</p>
    <p><strong>Дата поступления:</strong> {{ item.date | date('d.m.Y') }}г.</p>
    <p><strong>Цена:</strong>
        <span class="price">{{ item.cost }} &#8381;
            ({{ item.cost | indollar | raw }} / {{ item.cost | ineuro | raw }} )
        </span>
    </p>
    <p>{% include 'tagslist.html' %}</p>
</div>